<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cru3lgenius.studenttoolkit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/myTheme">
        <activity android:name=".Main.TabsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Flashcard_Activities.CreateFlashcard" />
        <activity android:name=".Activities.Flashcard_Activities.ReviewFlashcards" />
        <activity android:name=".Activities.Flashcard_Activities.ReviewSelectedCards" />
        <activity android:name=".Activities.Flashcard_Activities.CheckAnswers" />
        <activity android:name=".Activities.Flashcard_Activities.ShowResults" />
        <activity android:name=".Activities.Note_Activities.CreateNote" />
        <activity android:name=".Activities.Note_Activities.EditNote" />
        <activity android:name=".Activities.Authentication_Activities.Register" />
        <activity android:name=".Activities.Authentication_Activities.SignIn"></activity>
    </application>

</manifest>